# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
jspm_packages/

# Cache
.cache
.parcel-cache
.npm
.eslintcache
.stylelintcache

# Environment
.env
.env.local
.env.production.local
.env.development.local
.env.test.local

# Build outputs (NO IGNORAR dist)
.next
out
.nuxt
.vuepress/dist

# Coverage
coverage
.nyc_output

# Misc
.DS_Store
.vscode-test
